a:active, a:focus { outline: none; }
input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}

section.av_fff {
    background: #ffffff;
    color: #242525;
    padding-top: 100px;
    padding-bottom: 100px;
}

.kri_leg_text {
    background: url(marker_up.png) no-repeat left top;
    padding-left: 30px;
    min-height: 225px;
}

section.av_fff {
    background: #ffffff;
    color: #242525;
    padding-top: 100px;
    padding-bottom: 100px;
}

.kri_leg_text p, .kri_leg_textp p {
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    font-size: 16px;
}

.kri_tabs_legacy {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    padding-top: 100px;
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}

.kri_tabs_legacy .tab-content {
    padding-top: 30px;
}

.kri_deco_img {
    position: absolute;
    right: 0;
    z-index: 10;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.kri_tabs_legacy .nav-tabs .nav-item {
    margin-bottom: -1px;
    padding: 10px 30px 10px 10px;
}

.h3 {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
    padding: 30px 0;
}

li.nav-item button {
    border: none;
    background: none;
    text-transform: uppercase;
    transition: 0.5s;
    color: #242525;
}

li.nav-item button:focus {
    outline: 0;
}

.fade {
    display: none;
}

.nav-item .active {
    font-weight: 600;
    border: none;
    text-decoration: underline;
}

@media (max-width: 576px) {
    .kri_leg_textp {
        background: url(marker_bottom_up.png) no-repeat left top;
        padding-left: 30px;
        min-height: 225px;
    }
}